$gray-rgb: 0, 0, 0;
$gray-alpha-200: rgba(0, 0, 0, 0.08);
$gray-alpha-100: rgba(0, 0, 0, 0.05);

$button-primary-hover: #383838;
$button-secondary-hover: #f2f2f2;

// #COLORS
$white: #f0f0f0;

$primary-red: #dc3545;
$secondary-red: #fd5c63;

$primary-green: #28a745;
$secondary-green: #87a96b;

$primary-blue: #007bff;

$primary-gray: #6c757d;
